/* my css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kanit:wght@400;700&display=swap');

:root {
    --font-s: 62.5%;
    --font-H: "Kanit", sans-serif;
    --font-b: "Inter", sans-serif;
    --c-green: #A7D129;
    --c-black: #31332C;
    /* --c-black: #212121; */
}

*,
hmtml,
body {
    box-sizing: border-box;
}

html {
    font-size: var(--font-s);
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-b);
    /* overflow:hidden; */
    font-size: 1.6rem;
    color: var(--c-black);
}

body:before {
    content: "Front-end";
    z-index: -1;
    position: fixed;
    bottom: 100px;
    right: 0;
    color: #e6e6e6;
    font-size: 7rem;
    font-weight: 900;
    line-height: 0;
    transition: all .4s ease-in-out;
}
a:link, a:visited {
    color: var(--c-black);
    cursor: pointer;
}
hr{
    border: 1px solid #e7e7e7;
}
section {
    height: 100%;
}

p {
    font-size: 1.4rem;
    line-height: 1.4;
}

strong {
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 2.0rem;
}
h3{
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 12px;
}
button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--c-green);
    color: var(--c-black);
    font-family: var(--font-H);
    font-weight: 600;
    font-size: 1.7rem;
    letter-spacing: 1.3;
    border: none;
    padding: 16px 14px;
    border-radius:50px;
    margin: 2.0rem 0;
    cursor: pointer;
}
button bx{
    font-size: 3.0rem;
}
/* navbar */
.navbar-rosas{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.rosas-logo {
    max-height: 40px;
    padding-bottom: 10px;
}

nav.navbar-rosas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 16px 24px;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    border-top: 2px solid var(--c-green);
}

ul.navbar-menu li {
    margin-left: 16px;
}
.navbar-item a{
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
}
.navbar-item:hover a{
    color: var(--c-green);
}

/* main */
main {
    width: 100%;
    height: 100%;
    min-height: 60vh;
    padding: 60px 30px;
}
#introText{
    margin-bottom: 0;
}
/* card thumbs */
section.lasted-Work {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-bottom: 2.5rem;
    margin-top: 12.0rem;
}

.card-thumb {
    background-color: #00b700;
    position: relative;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.card-thumb img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.card-thumb .thumb-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 8px;
    background: rgb(87, 111, 14);
    background: linear-gradient(0deg, rgba(87, 111, 14, 0.9025735294117647) 0%, rgba(0, 0, 0, 0.8045343137254902) 100%);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.card-thumb:hover .thumb-info {
    opacity: 1;
}

.card-thumb h3,
.card-thumb p,
.card-thumb a {
    color: #fff;
    padding: 16px;
}
.card-thumb h3 {
    font-size: 2.4rem;
    margin-top: 0;
}

.card-thumb p,
.card-thumb a {
    font-size: 12px;
    line-height: 1.3;
}

.card-thumb h3 {
    float: left;
}

.card-thumb a {
    float: right;
    margin-top: 8px;
}

.card-thumb p {
    position: absolute;
    bottom: 0;
}

.card-thumb h3,
.card-thumb a {
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.card-thumb p {
    -webkit-transform: translatey(100px);
    -ms-transform: translatey(100px);
    transform: translatey(100px);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.card-thumb:hover h3,
.card-thumb:hover a,
.card-thumb:hover p{
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}
/* end thumb info */
/* about */
.about{
    display: flex;
    flex-direction: column;
}
.about div{
    margin-bottom: 2.0rem;    
}
.about-process p{
    margin: 16px 0;
}

/* end about */

.available {
    position: relative;
    font-size: 1.0rem;
    color: #379237;
    margin-left: 10px;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}
/* skilss & knowledge */
.skills{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 12.0rem 0;
}
.skills div{
    width: 100%;
}
.skills img#emiPhoto{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #8da73d62;
    border: 4px solid var(--c-green);
    border-radius: 8px;
    margin-bottom: 2.0rem;
}
.skills-knowlege{
    display: flex;
    flex-direction:column;
    width: 100%;
}
.skills-knowlege  h3{
    border-top: 2px solid var(--c-green);
    margin-top: 2.5rem;
}
.skills-knowlege ul li.sk-dev{
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #e7e7e7;
}
/* contact */
.green-txt{
    color:var(--c-green);
}
.available:before {
    content: "";
    display: absolute;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #00b700;
    position: absolute;
    left: -10px;
    top: 2px;
    animation-name: blink;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}
#location{
    font-weight: 600;
    margin-top: 1rem;
}
#location::before{
    display: inline-block;
    content: "";
    background-image:url("https://cdn-icons-png.flaticon.com/512/4675/4675117.png") ;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
/* footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 100%;
    padding: 25px 20px;
    font-size: 1.2rem;
    background-color: #fff;
}

.social-networks {
    margin-top: 10px;
}

i.bx {
    font-size: 1.6rem;
    margin: 0 5px;
}

@media only screen and (width > 426px) {
    body:before {
        content: "Front-end";
        font-size: 9rem;
        bottom: 130px;
    }
    h2 {
        font-size: 4.0rem;
    }

    section.lasted-Work {
        grid-template-columns: repeat(2, minmax(0, 2fr));
        gap: 20px;
    }

    nav.navbar-rosas {
        justify-content: space-between;
        flex-wrap: no-wrap;
    }

    .navbar-menu {
        border-top: none;
    }

    main {
        min-height: 70vh;
    }
    .skills{
        flex-direction: row;
        gap: 30px;
    }

    footer {
        flex-direction: row;
    }
}

@media only screen and (width > 769px) {
    body:before {
        content: "Front-end";
        font-size: 10rem;
        bottom: 190px;        
    }
    main{
        padding: 120px 30px;
    }
    section.lasted-Work {
        grid-template-columns: repeat(3, minmax(0, 3fr));
        gap: 30px;
    }

    body:before {
        font-size: 20rem;
    }
    .about{
        flex-direction: row;
        gap: 30px;
    }
    .about div{
        width: 50%;
        margin: 12.0rem 0;
    }
    .skills img#emiPhoto{
        width: auto;
        max-width: 80% ;
        min-width: auto;
        max-height: 100vh;
    }
    .skills-knowlege{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

}
