div.card-thumb{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    transition: 1s ease all;
}
div.card-thumb#sanserver{
    background-image: url(../img/sanservercloud.png);
}
div.card-thumb#empire{
    background-image: url(../img/empirecp.png);
}
div.card-thumb#dudosa{
    background-image: url(../img/ladudosa.png);
}
div.card-thumb#latypa{
    background-image: url(../img/latypa.png);
}

.card-thumb:hover {
    background-size: 110% 110%;
}